<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <label>
        <input #name="ngModel" [(ngModel)]="contactData.name" minlength="2" maxlength="50" name="name"
            class="input-field" type="text" placeholder="Your name" required>
        @if (name.valid && name.touched) {
        <img src="assets/img/icons/correct-input.png">
        }
        @if (!name.valid && name.touched) {
        <img src="assets/img/icons/false-input.png">
        <span class="required-text">Your name is required</span>
        }

    </label>

    <label>
        <input #email="ngModel" [(ngModel)]="contactData.email" name="email" class="input-field" type="email" placeholder="Your email"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            @if (email.valid && email.touched) {
                <img src="assets/img/icons/correct-input.png">
            }
            @if (!email.valid && email.touched) {
                <img src="assets/img/icons/false-input.png">
                <span class="required-text">Your email is required</span>
            }
    </label>

    <label>
        <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="5" name="message" placeholder="Your message" required></textarea>
        @if (message.valid && message.touched) {
            <img src="assets/img/icons/correct-input.png">
        }
        @if (!message.valid && message.touched) {
            <img src="assets/img/icons/false-input.png">
            <span class="required-text">Your message is empty</span>
        }
    </label>


    <div class="privacy-policy-agreement">
        <label class="checkbox-container">
            <input #privacyPolicy="ngModel" [(ngModel)]="checkbox" name="privacyPolicy" class="checkbox-button" type="checkbox" required>
            <span class="customized-checkbox-button"></span>
        </label>
        <span class="agreement">I've read the <a class="agreement-link" (click)="goToImprint()">privacy policy</a> and
            agree to the processing of my data as outlined. </span>
    </div>
    <!--   <span class="required-text">Please accept the privacy policy</span> -->

    <div class="button-container">
        <button type="submit" value="Submit">Say hello :)</button>
    </div>
</form>