label {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

@media (max-width: 1000px) {
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }
}

img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.required-text {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #E61C40;
  width: 100%;
  text-align: left;
  line-height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 504px;
}

@media (max-width: 1000px) {
  form {
    align-items: center;
  }
}

.input-field {
  width: 100%;
  height: 50px;
  padding: 15px 25px 15px 25px;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #5988FF;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.input-field:hover {
  border: 2px solid #5988FF;
}

.input-field:focus {
  outline: none;
  border: 1px solid #5988FF;
}

@media (max-width: 1000px) {
  .input-field {
    max-width: 600px;
  }
}

textarea {
  width: 100%;
  height: 202px;
  padding: 15px 25px 15px 25px;
  box-sizing: border-box;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #5988FF;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

textarea:hover {
  border: 2px solid #5988FF;
}

textarea:focus {
  outline: none;
  border: 1px solid #5988FF;
}

@media (max-width: 1000px) {
  textarea {
    max-width: 600px;
  }
}

.privacy-policy-agreement {
  display: flex;
}

.privacy-policy-agreement:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .privacy-policy-agreement {
    max-width: 600px;
  }
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.customized-checkbox-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid #5988FF;
  border-radius: 10%;
  margin-top: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .customized-checkbox-button {
  background-color: #D4E0FF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customized-checkbox-button:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .customized-checkbox-button:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .customized-checkbox-button:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #5988FF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.agreement {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: black;
  margin-left: 16px;
}

.agreement-link {
  font-weight: bold;
  text-decoration: none;
  color: #5988FF;
}

.agreement-link:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.disabled-button {
  padding: 13px 24px 13px 24px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  background-color: unset;
  position: relative;
  border: 2px solid #BBBBBB;
  color: #BBBBBB;
}

.enabled-button {
  padding: 13px 24px 13px 24px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  font-family: Montserrat;
  border: 2px solid #5988FF;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: left;
  color: #5988FF;
  background-color: unset;
  position: relative;
}

.enabled-button:hover {
  cursor: pointer;
}

.disabled-button-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
