<form>
    <input class="input-field" type="text" placeholder="Your name" required>
    <input class="input-field" type="email" placeholder="Your email" required>
    <textarea placeholder="Your message"></textarea>
    <div class="privacy-policy-agreement">
        <label class="checkbox-container">
            <input class="checkbox-button" type="checkbox" required>
            <span class="customized-checkbox-button"></span>
        </label>
        <span class="agreement">I've read the <a href="imprint">privacy policy</a> and agree to the processing of my data as outlined. </span>
    </div>
    <div class="button-container">
        <button type="submit" disabled>Say hello :)</button>
    </div>
</form>
