<div class="global-background-container background-container">
    <img class="circle-1" src="assets/img/background/ellipse.svg">
    <img class="circle-2" src="assets/img/background/ellipse.svg">
    <img class="circle-3" src="assets/img/background/ellipse.svg">
    <div class="global-main-container main-contact-container">
        <h2>{{ text[languageData.currentLanguage].title }}</h2>
        <div class="contact-container">
            <div class="description">
                <h3>{{ text[languageData.currentLanguage].question }}</h3>
                <p class="contact-description">{{ text[languageData.currentLanguage].contactDescription}}</p>
                <p class="developer-description" [innerHTML]="text[languageData.currentLanguage].developerDescription">
                </p>
            </div>
            <app-contact-form></app-contact-form>
        </div>
        <a class="go-up-button" href="#landingPage"><img src="assets/img/icons/go-up-button.svg"></a>
    </div>
</div>