.background-container {
    position: relative;
}

.circle-1 {
    position: absolute;
    width: 80px;
    margin-top: 25px;
    margin-left: 300px;
    rotate: 81deg;
}

.circle-2 {
    position: absolute;
    width: 50px;
    margin-top: 800px;
    margin-left: 900px;

    @media (max-width: 1000px) {
        width: 40px;
        margin-top: 0;
        margin-left: 0;
        right: 10px;
        bottom: 40px;
    }
}

.circle-3 {
    position: absolute;
    display: block;
    width: 300px;
    margin-top: 500px;
    margin-right: 400px;

    @media (max-width: 1000px) {
        display: none;
    }
}

.title-container {
    display: flex;
}

h2 {
    margin: 0;
    color: #5988FF;
    margin-bottom: 60px;
}

.main-contact-container {
    position: relative;;
}

.contact-container {
    display: flex;
    margin-bottom: 40px;

    @media (max-width: 1000px) {
        flex-direction: column;
        z-index: 99;
        margin-bottom: 80px;
    }
}

.description,
app-contact-form {
    flex: 1;
}

h3 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #5988FF;
    margin: 0;
    margin-bottom: 40px;
}

.contact-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: black;
    margin-bottom: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.developer-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #5988FF;
    padding-right: 30px;
    box-sizing: border-box;
}

.go-up-button {
    width: 39px;
    height: 39px;
    position: absolute;
    bottom: 100px;
    left: 100px;

    @media (max-width: 1000px) {
        bottom: 17px;
        left: 17px;
    }

    &:hover {
        filter: brightness(1.2);
    }
}