<div class="global-background-container">
    <img class="circle-1" src="assets/img/background/ellipse.svg">
    <img class="circle-2" src="assets/img/background/ellipse.svg">
    <img class="circle-3" src="assets/img/background/ellipse.svg">
    <div class="global-main-container main-contact-container" id="contact">
        <h2>Contact</h2>
        <div class="contact-container">
            <div class="description">
                <h3>Got a problem to solve?</h3>
                <p class="contact-description">Contact me through this form, I am interested in hearing from you, knowing your ideas and
                    contributing to your projects with my work.</p>
                <p class="developer-description">Need a Frontend developer?<b> Contact me!</b></p>
            </div>
            <app-contact-form></app-contact-form>
        </div>
        <a class="go-up-button" href="#landingPage"><img src="assets/img/icons/go-up-button.svg"></a>
    </div>
</div>