.main-contact-container {
    position: relative;
}

.circle-1 {
    position: absolute;
    width: 80px;
    margin-top: 25px;
    margin-left: 300px;
    rotate: 81deg;
}

.circle-2 {
    position: absolute;
    width: 50px;
    margin-top: 800px;
    margin-left: 900px;
}

.circle-3 {
    position: absolute;
    display: block;
    width: 300px;
    margin-top: 470px;
    margin-right: 500px;
}

h2 {
    font-family: Baloo;
    font-size: 90px;
    font-weight: 400;
    line-height: 108px;
    margin: 0;
    color: #5988FF;
    margin-bottom: 60px;
}

.contact-container {
    display: flex;
    margin-bottom: 40px;
}

.description,
app-contact-form {
    flex: 1;
}

h3 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: #5988FF;
    margin: 0;
    margin-bottom: 40px;
}

.contact-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: black;
    margin-bottom: 30px;
}

.developer-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #5988FF;
}

.go-up-button {
    width: 39px;
    height: 39px;
    position: absolute;
    bottom: 100px;
    left: 100px;

    &:hover {
        filter: brightness(1.2);
    }
}