<div class="global-background-container background-container">
    <img class="circle-1" src="assets/img/background/ellipse.svg">
    <img class="circle-2" src="assets/img/background/ellipse.svg">
    <img class="circle-3" src="assets/img/background/ellipse.svg">
    <div class="global-main-container main-contact-container">
        <div class="title-container"><h2 [@titleEnter]="isInSight" class="title">{{ text.en.title }}</h2></div>
        <div class="contact-container">
            <div class="description">
                <h3>{{ text.en.question }}</h3>
                <p class="contact-description">{{ text.en.contactDescription}}</p>
                <p class="developer-description" [innerHTML]="text.en.developerDescription">
                </p>
            </div>
            <app-contact-form></app-contact-form>
        </div>
        <a class="go-up-button" [href]="'#' + (isLandingPageMobile ? 'landingPageMobile' : 'landingPage')"><img
                src="assets/img/icons/go-up-button.svg"></a>
    </div>
</div>