<h1>Privacy policy</h1>
<h2 id="m716">Preamble</h2>
<p>With the following data protection declaration, we would like to inform you about the types of your
    personal data (hereinafter also referred to as “data”) we process, for what purposes and to what extent.
    process and to what extent. The privacy policy applies to all processing of personal data carried out by us
    personal data, both in the context of the provision of our services and in particular on our websites
    our websites, in mobile applications and within external online presences, such as our social media profiles
    social media profiles (hereinafter collectively referred to as “online offer”).</p>
<p>The terms used are not gender-specific.</p>

<p>Status: September 3, 2024</p>
<h2>Table of contents</h2>
<ul class="index">
    <li><a class="index-link" href="#m716">Preamble</a></li>
    <li><a class="index-link" href="#m3">Person responsible</a></li>
    <li><a class="index-link" href="#mOverview">Overview of processing</a></li>
    <li><a class="index-link" href="#m2427">Relevant legal bases</a></li>
    <li><a class="index-link" href="#m27">Security measures</a></li>
    <li><a class="index-link" href="#m12">General information on data storage and deletion</a></li>
    <li><a class="index-link" href="#m10">Rights of the data subjects</a></li>
    <li><a class="index-link" href="#m182">Contact and request management</a></li>
    <li><a class="index-link" href="#m15">Change and update</a></li>
    <li><a class="index-link" href="#m42">Definitions of terms</a></li>
</ul>
<h2 id="m3">Person responsible</h2>
<p>Pascale Sennhauser<br>Winterthur, Schweiz</p>
<p>E-mail address: <a href="mailto:pascale.sennhauser@hotmail.ch">pascale.sennhauser&#64;hotmail.ch</a></p>

<h2 id="mOverview">Overview of processing</h2>
<p>The following overview summarizes the types of data processed and the purposes of their processing
    and refers to the data subjects.</p>
<h3>Types of data processed</h3>
<ul>
    <li>Inventory data.</li>
    <li>Contact details.</li>
    <li>Content data.</li>
    <li>Usage data.</li>
    <li>Meta, communication and process data.</li>
</ul>
<h3>Categories of affected persons</h3>
<ul>
    <li>Communication partner.</li>
</ul>
<h3>Purposes of the processing</h3>
<ul>
    <li>Communication.</li>
    <li>Organizational and administrative procedures.</li>
    <li>Feedback.</li>
    <li>Provision of our online services and user-friendliness.</li>
</ul>
<h2 id="m2427">Relevant legal bases</h2>
<p><strong>Relevant legal basis according to the Swiss Data Protection Act: </strong>If you are located in
    Switzerland, we process your data on the basis of the Federal Act on Data Protection (in short
    “Swiss FADP"). Unlike the FADPO, for example, the Swiss FADP does not require that
    legal basis for the processing of personal data and that the processing of personal data must be carried out in good
    faith.
    personal data is carried out in good faith, is lawful and proportionate (Art. 6 para. 1 and
    2 of the Swiss FADP). In addition, we only process personal data for a specific purpose that is recognizable to the
    data
    recognizable purpose and only processed in a way that is compatible with this purpose (Art. 6 para. 3 of the
    Swiss FADP).</p>

<h2 id="m27">Security measures</h2>
<p>We take appropriate measures in accordance with the legal requirements, taking into account the state of the art, the
    implementation costs and the nature, scope, context and purposes of processing as well as the
    different probabilities of occurrence and the extent of the threat to the rights and freedoms of natural persons
    of natural persons, appropriate technical and organizational measures to ensure a level of protection appropriate to
    the risk.
    level of protection appropriate to the risk.</p>
<p>The measures include, in particular, safeguarding the confidentiality, integrity and availability of data by
    data by controlling physical and electronic access to the data as well as the access, input, transfer
    access, input, forwarding, securing availability and separation. Furthermore
    We have also set up procedures that ensure the exercise of data subject rights, the deletion of data and
    reactions to the endangerment of data. Furthermore, we take the protection of
    personal data as early as the development and selection of hardware, software and procedures
    in accordance with the principle of data protection, through technology design and data protection-friendly
    default settings.</p>
<p>Securing online connections using TLS/SSL encryption technology (HTTPS): In order to protect user data transmitted
    users' data transmitted via our online services from unauthorized access, we use TLS/SSL encryption technology.
    the TLS/SSL encryption technology. Secure Sockets Layer (SSL) and Transport Layer Security (TLS)
    are the cornerstones of secure data transmission on the Internet. These technologies encrypt the
    information transmitted between the website or app and the user's browser (or between two servers), thereby
    which protects the data from unauthorized access. TLS, as the more advanced
    and more secure version of SSL, ensures that all data transmissions meet the highest security standards.
    standards. If a website is secured by an SSL/TLS certificate, this is indicated by the display of
    HTTPS in the URL. This serves as an indicator to users that their data is being transmitted securely and
    transmitted in encrypted form.</p>

<h2 id="m12">General information on data storage and deletion</h2>
<p>We delete personal data that we process in accordance with the statutory provisions as soon as the underlying
    underlying consents are revoked or there is no further legal basis for the processing.
    processing exist. This applies to cases in which the original purpose of processing no longer applies or the
    data is no longer required. Exceptions to this rule exist if legal obligations or special interests require
    special interests require longer storage or archiving of the data.</p>
<p>In particular, data that must be retained for commercial or tax law reasons or
    the storage of which is necessary for legal prosecution or to protect the rights of other natural or legal persons
    legal persons, must be archived accordingly.</p>
<p>Our data protection information contains additional information on the retention and deletion of data that applies
    apply specifically to certain processing operations.</p>
<p>If there are several details on the retention period or deletion periods for a date, the longest period is always
    decisive.
    is always decisive.</p>
<p>If a period does not expressly begin on a specific date and lasts at least one year, it shall
    automatically starts at the end of the calendar year in which the event triggering the time limit occurred. In the
    case of ongoing contractual relationships in the context of which data is stored, the event triggering the
    event is the date on which the termination or other termination of the legal relationship takes effect.
</p>
<p>Data that is no longer stored for the originally intended purpose, but due to legal requirements or other
    other reasons, we only process them for the reasons that justify their retention.
    justify their retention.</p>
<p><strong>Further information on processing operations, procedures and services:</strong></p>
<ul class="m-elements">
    <li><strong>Storage and deletion of data: </strong>The following general time limits apply to the
        storage and archiving in accordance with Swiss law:<ul>
            <li>10 years - retention period for books and records, annual financial statements, inventories,
                opening balance sheets, accounting vouchers and invoices as well as all necessary work instructions and
                other organizational
                instructions and other organizational documents (Art. 958f of the Swiss Code of Obligations (OR)).
                Code of Obligations (OR)).</li>
            <li>10 years - Data necessary for the consideration of potential claims for damages or similar contractual
                contractual claims and rights, as well as for the processing of related inquiries, based on past
                business
                related inquiries, based on past business experience and standard industry practices, will be stored for
                the
                stored for the statutory limitation period of ten years, unless
                a shorter period of five years is applicable, which is relevant in certain cases
                (Art. 127, 130 OR). After five years, claims for rent, leasehold and capital interest as well as other
                interest on capital and other periodic services, from the supply of food, for catering and for
                for catering and for landlord's debts, as well as for handicraft work, retail sale of goods, medical
                medical care, professional work by lawyers, legal agents, procurators and notaries and from the
                employment of employees (Art.
                employment of employees (Art. 128 OR).</li>
        </ul>
    </li>
</ul>
<h2 id="m10">Rights of the data subjects</h2>
<p>Rights of data subjects under the Swiss FADP: </p>
<p>As a data subject, you have the following rights in accordance with the provisions of the Federal Act on Data
    Protection:</p>
<ul>
    <li><strong>Right to information:</strong>You have the right to obtain confirmation as to whether or not personal
        data
        personal data concerning you are being processed and to receive the information necessary to
        necessary for you to assert your rights under this law and to ensure transparent data processing.
        data processing is guaranteed.</li>
    <li><strong>Recht auf Datenherausgabe oder -übertragung: </strong>Sie haben das Recht, die Herausgabe Ihrer
        Personendaten, die Sie uns bekanntgegeben haben, in einem gängigen elektronischen Format zu verlangen.
    </li>
    <li><strong>Right to rectification:</strong> You have the right to request the rectification of inaccurate
        inaccurate personal data concerning you.</li>
    <li><strong>Right to object, erasure and destruction: </strong>You have the right to object to the processing
        your data and to request that the personal data concerning you be deleted or destroyed.
        destroyed.</li>
</ul>

<h2 id="m182">Contact and request management</h2>
<p>When contacting us (e.g. by post, contact form, e-mail, telephone or via social media)
    as well as in the context of existing user and business relationships, the information of the inquiring persons is
    processed to the extent necessary to respond to contact requests and any measures requested.
    is necessa</p>
<ul class="m-elements">
    <li><strong>Processed data types:</strong> Inventory data (e.g. full name, residential address,
        contact information, customer number, etc.); contact data (e.g. postal and e-mail addresses or telephone
        telephone numbers); content data (e.g. text or image messages and contributions as well as the information
        relating to them, such as
        information relating to them, such as information on authorship or time of creation);
        Usage data (e.g. page views and length of stay, click paths, intensity and frequency of use,
        device types and operating systems used, interactions with content and functions). Meta,
        communication and process data (e.g. IP addresses, time data, identification numbers, persons involved).
        persons involved).</li>
    <li><strong>Persons concerned:</strong> Communication partner.</li>
    <li><strong>Purposes of the processing:</strong> Communication; organizational and administrative procedures;
        Feedback (e.g. collecting feedback via online form). Provision of our online services and
        user-friendliness.</li>
    <li><strong>Storage and deletion:</strong> Deletion according to the information in the section “General
        Information on data storage and erasure”.</li>
    <li class=""><strong>Legal basis:</strong> Legitimate interests (Art. 6 para. 1 sentence 1 lit. f) FADPO).
        Contract performance and pre-contractual inquiries (Art. 6 para. 1 sentence 1 lit. b) FADPO).</li>
</ul>
<p><strong>Further information on processing operations, procedures and services:</strong></p>
<ul class="m-elements">
    <li><strong>Contact form:: </strong>When contacting us via our contact form, by e-mail or other
        other communication channels, we process the personal data transmitted to us to answer and process the
        answering and processing the respective request. This generally includes details such as name,
        contact information and, if applicable, further information that is communicated to us and is
        necessary for appropriate processing. We use this data exclusively for the stated purpose of
        purpose of establishing contact and communication; <span class=""><strong>Legal basis:</strong>
            Performance of a contract and pre-contractual inquiries (Art. 6 para. 1 sentence 1 lit. b) FADPO),
            Legitimate
            Interests (Art. 6 para. 1 sentence 1 lit. f) FADPO).</span></li>
</ul>
<h2 id="m15">Modification and updating</h2>
<p>We ask you to inform yourself regularly about the content of our privacy policy. We adapt the
    Privacy Policy as soon as changes to the data processing carried out by us make this necessary.
    make this necessary. We will inform you as soon as the changes necessitate an act of cooperation on your part
    (e.g. consent) or any other individual notification becomes necessary.</p>
<p>Insofar as we provide addresses and contact information of companies and organizations in this data protection
    organizations, please note that the addresses may change over time and please check the information before
    contacting us.
    please check the details before contacting us.</p>

<h2 id="m42">Definitions of terms</h2>
<p>This section provides you with an overview of the terms used in this privacy policy.
    terms used in this privacy policy. Insofar as the terms are defined by law, their legal definitions apply.
    definitions apply. The following explanations, on the other hand, are primarily intended to aid understanding.</p>
<ul class="glossary">
    <li><strong>Inventory data:</strong> Inventory data includes essential information required for the
        identification and management of contractual partners, user accounts, profiles and similar assignments.
        are necessary. This data may include personal and demographic information such as names,
        contact information (addresses, telephone numbers, e-mail addresses), dates of birth and specific
        identifiers (user IDs). Inventory data forms the basis for any formal interaction
        interaction between people and services, facilities or systems by enabling unique assignment and communication.
        assignment and communication. </li>
    <li><strong>Content data:</strong> Content data includes information that is generated in the course of creating,
        editing and publication of content of all kinds. This category of data may include
        include texts, images, videos, audio files and other multimedia content published on various platforms and
        media.
        platforms and media. Content data is not only limited to the actual content
        but also includes metadata that provides information about the content itself, such as
        Tags, descriptions, author information and publication dates </li>
    <li><strong>Contact details:</strong> Contact details are essential information that enable communication with
        persons or organizations. They include telephone numbers, postal addresses and e-mail addresses
        e-mail addresses, as well as means of communication such as social media handles and
        instant messaging identifiers. </li>
    <li><strong>Meta, communication and process data:</strong> Meta, communication and procedural data
        are categories that contain information about the way in which data is processed, transmitted and managed.
        and managed. Meta data, also known as data about data, includes information that describes the context
        context, origin and structure of other data. It can contain information about the file size, the
        creation date, the author of a document and change histories. Communication data
        records the exchange of information between users via various channels, such as email traffic,
        call logs, messages in social networks and chat histories, including the persons involved, timestamps
        persons involved, time stamps and transmission paths. Process data describes the processes and procedures
        within systems or organizations, including workflow documentation, logs of transactions and activities, and
        audit logs.
        transactions and activities, as well as audit logs used to track and review processes.
        processes. </li>
    <li><strong>Usage data:</strong> Usage data refers to information that records how users interact
        interact with digital products, services or platforms. This data includes a
        wide range of information that shows how users use applications, which functions they prefer
        functions they prefer, how long they spend on certain pages and the paths they take through an application.
        navigate through an application. Usage data can also include frequency of use, timestamps of activities,
        IP addresses, device information and location data. They are particularly valuable for
        analysing user behaviour, optimizing user experiences, personalizing content and improving products or services.
        and improving products or services. In addition, usage data plays a crucial role in
        play a crucial role in recognizing trends, preferences and potential problem areas within
        digital offerings </li>
    <li><strong>Personal data:</strong> “Personal data” means any information relating to
        an identified or identifiable natural person (hereinafter “data subject”);
        An identifiable natural person is one who can be identified, directly or indirectly, in particular
        directly or indirectly, in particular by reference to an identifier such as a name, an identification number,
        location data, an online
        online identifier (e.g. a cookie) or to one or more factors specific to the physical, physiological, genetic
        which express the physical, physiological, genetic, mental, economic, cultural or social identity of this
        natural person,
        cultural or social identity of that natural person. </li>
    <li><strong>Responsible person:</strong> The term “controller” refers to the natural or legal person, public
        authority, agency or other body which alone or jointly with others determines the purposes and means of the
        means of the processing of personal data. </li>
    <li><strong>Processing:</strong> “Processing” means any operation or set of operations which is performed on
        personal data
        process or any such series of processes in connection with personal data. The
        term is broad and covers practically any handling of data, be it collection, analysis, storage, transmission or
        deletion.
        storage, transmission or erasure. </li>
</ul>
<p class="seal"><a href="https://datenschutz-generator.de/"
        title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
        rel="noopener noreferrer nofollow">Created with free Datenschutz-Generator.de by Dr. Thomas
        Schwenke</a>
        <a href="https://www.deepl.com/de/translator" target="_blank">Translated from German with deepl.com</a></p>