header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  header {
    padding-left: 17px;
    padding-right: 17px;
  }
}

.logo {
  font-family: 'Amaranth';
  font-size: 64px;
  color: white;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px white);
}

@media (max-width: 1000px) {
  .logo:hover {
    filter: unset;
  }
}

.header-menu {
  font-family: Montserrat;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu a {
  width: 155px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #5988FF;
}

@media (min-width: 1300px) and (max-width: 1440px) {
  .header-menu a {
    font-size: 16px;
    width: 140px;
  }
}

.header-menu a:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 1300px) and (max-width: 1440px) {
  .header-menu a:hover {
    font-size: 16px;
  }
}

.language-container {
  display: flex;
  justify-content: center;
  color: #5988FF;
  width: 120px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .language-container {
    width: unset;
  }
}

.language-container .separator {
  margin-left: 4px;
  margin-right: 4px;
}

.language-container .de:hover,
.language-container .en:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.language-bold {
  font-size: 18px;
  font-weight: 700;
}

.selected {
  font-size: 18px;
  font-weight: 700;
}

.d-none {
  display: none;
}
