header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.logo {
  font-family: 'Amaranth';
  font-size: 64px;
  color: white;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px white);
}

.header-menu {
  font-family: Montserrat;
  width: 600px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu a {
  width: 120px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  text-align: center;
  text-decoration: none;
  color: #5988FF;
}

.header-menu a:hover {
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
}

.language-container {
  display: flex;
  justify-content: center;
  color: #5988FF;
  width: 120px;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
}

.language-container .separator {
  margin-left: 4px;
  margin-right: 4px;
}

.language-container .de:hover,
.language-container .en:hover {
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
}

.language-bold {
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
}

.selected {
  font-size: 23px;
  font-weight: 700;
  line-height: 27.6px;
}
