<header>
        <a href="#landingPage" class="logo">&#60;ps&#62;</a>
        <div class="header-menu">
            <a href="#aboutMe">About me</a>
            <a href="#skillSet">Skill set</a>
            <a href="#myWork">My work</a>
            <div class="language-container">
                <span class="de" (click)="setLanguage('german')">DE</span>
                <span class="separator">|</span>
                <span class="en" (click)="setLanguage('english')">EN</span>
            </div>
        </div>
</header>
