<div class="menu-overlay-container" [ngClass]="{'show-overlay-menu': showOverlay}">
    <div class="header-overlay">
        <img class="logo" src="assets/img/icons/logo-blue.png">
        <img class="close-icon" src="assets/img/icons/close-icon.png" (click)="closeOverlayMenu()">
    </div>
    <nav>
        <a [routerLink]="[]" fragment="aboutMe"><span>{{ text[languageData.currentLanguage].aboutMe }}</span></a>
        <a [routerLink]="[]" fragment="skillSet"><span>{{ text[languageData.currentLanguage].skillSet }}</span></a>
        <a [routerLink]="[]" fragment="myWork"><span>{{ text[languageData.currentLanguage].myWork }}</span></a>
        <a [routerLink]="[]" fragment="contact"><span>{{ text[languageData.currentLanguage].contact }}</span></a>
        <div class="language-container">
            <span class="de" [class.language-bold]="languageData.currentLanguage == 'ge'" (click)="setLanguage('ge')">{{
                text[languageData.currentLanguage].german }}</span>
            <span class="separator">|</span>
            <span class="en" [class.language-bold]="languageData.currentLanguage == 'en'" (click)="setLanguage('en')">{{
                text[languageData.currentLanguage].english }}</span>
        </div>
    </nav>
</div>