<div class="menu-overlay-container" [ngClass]="{'show-overlay-menu': showOverlay}">
    <div class="header-overlay">
        <img class="logo" src="assets/img/icons/logo-blue.png">
        <img class="close-icon" src="assets/img/icons/close-icon.png" (click)="closeOverlayMenu()">
    </div>
    <nav>
        <a href="#aboutMe" (click)="closeOverlayMenu()"><span>{{ 'header.aboutMe' | translate }}</span></a>
        <a href="#skillSet" (click)="closeOverlayMenu()"><span>{{ 'header.skillSet' | translate }}</span></a>
        <a href="#myWork" (click)="closeOverlayMenu()"><span>{{ 'header.myWork' | translate }}</span></a>
        <a href="#contact" (click)="closeOverlayMenu()"><span>{{ 'header.contact' | translate }}</span></a>
        <div class="language-container">
            <span class="de" [class.language-bold]="currentLanguage == 'ge'" (click)="toggleLanguage('ge')">{{
                'header.german' | translate }}</span>
            <span class="separator">|</span>
            <span class="en" [class.language-bold]="currentLanguage == 'en'" (click)="toggleLanguage('en')">{{
                'header.english' | translate }}</span>
        </div>
    </nav>
</div>