.menu-overlay-container {
  background: linear-gradient(179.99deg, rgba(255, 255, 255, 0.8) 12.89%, rgba(234, 240, 255, 0.8) 91.39%);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: all 125ms ease-in-out;
}

.show-overlay-menu {
  transform: translateX(0);
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 143px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-overlay .logo {
  width: 130px;
  margin-top: 20px;
}

.header-overlay .logo:hover {
  cursor: pointer;
}

.header-overlay .close-icon {
  width: 30px;
  height: 30px;
}

.header-overlay .close-icon:hover {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 215px;
  width: 200px;
  gap: 29px;
}

nav a {
  text-decoration: none;
}

nav span {
  height: 28px;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.6px;
  color: #5988FF;
}

nav span:hover {
  font-weight: bold;
  cursor: pointer;
}

.language-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .language-container {
    width: unset;
  }
}

.language-container .separator {
  margin-left: 4px;
  margin-right: 4px;
}

.language-container .separator:hover {
  cursor: default;
  font-weight: unset;
}

.de:hover,
.en:hover {
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
}

.language-bold {
  font-size: 23px !important;
  font-weight: 700 !important;
}
