header {
    height: 143px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
}

a {
    font-family: 'Amaranth';
    font-size: 64px;
    color: white;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

img {
    height: 27.72px;

    &:hover {
        cursor: pointer;
    }
}

.d-none {
    display: none;
}