<div class="global-background-container background-container">
    <img class="circle-1" src="assets/img/background/ellipse.svg">
    <img class="circle-2" src="assets/img/background/ellipse.svg">
    <img class="circle-3" src="assets/img/background/ellipse.svg">
    <img class="circle-4" src="assets/img/background/ellipse.svg">
    <img class="circle-5" src="assets/img/background/ellipse.svg">
    <img class="circle-6" src="assets/img/background/ellipse.svg">
    <img class="circle-7" src="assets/img/background/ellipse.svg">
    <div class="global-main-container projects-circle-container" id="myWork">
        <h2>{{ text[languageData.currentLanguage].title }}</h2>
        <p>{{ text[languageData.currentLanguage].description }}</p>
        <div class="projects-container">
            @for (singleProject of projects; let i = $index; track singleProject) {
            <app-single-project [project]="singleProject" [index]="i"></app-single-project>
            }
        </div>
    </div>
</div>