<div class="global-background-container background-container">
    <img class="circle-1" src="assets/img/background/ellipse.svg">
    <img class="circle-2" src="assets/img/background/ellipse.svg">
    <div class="global-main-container about-me-container">
        <div class="container-left">
            <h2 [@titleEnter]="isInSight" class="title" [innerHTML]="'aboutMe.title' | translate">
            </h2>
            <div class="i-am-container">
                <span>{{ 'aboutMe.iAm' | translate }}</span>
                <div class="icon-container">
                    <div class="location-container">
                        <img class="location-icon" [src]="imgSrcLocation"
                            (mouseover)="imgSrcLocation = 'assets/img/icons/location-icon-2.png'"
                            (mouseout)="imgSrcLocation = 'assets/img/icons/location-icon-1.png'">
                        <img src="assets/img/icons/location-icon-2.png" class="d-none">
                        <img src="assets/img/icons/location-icon-1.png" class="icon-mobile">
                        <span [innerHTML]="'aboutMe.located' | translate"
                            [ngStyle]="{'font-size': '16px'}"></span>
                    </div>
                    <div class="remote-container">
                        <img class="remote-icon" [src]="imgSrcRemote"
                            (mouseover)="imgSrcRemote = 'assets/img/icons/remote-icon-2.png'"
                            (mouseout)="imgSrcRemote = 'assets/img/icons/remote-icon-1.png'">
                        <img src="assets/img/icons/remote-icon-2.png" class="d-none">
                        <img src="assets/img/icons/remote-icon-1.png" class="icon-mobile">
                        <span [innerHTML]="'aboutMe.remote' | translate"
                            [ngStyle]="{'font-size': '16px'}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right">
            <p>{{ 'aboutMe.aboutMe' | translate }}<br><br>
                {{ 'aboutMe.workTogether' | translate }}
            </p>
            <div class="button-container-wrapper">
                <div class="button-container">
                    <a [routerLink]="[]" fragment="contact">{{ 'aboutMe.button' | translate }}</a>
                </div>
            </div>
        </div>
    </div>