.background-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.background-container .circle-1 {
  position: absolute;
  width: 206px;
  height: 206px;
  rotate: 0deg;
  margin-top: -103px;
  z-index: -99;
}

.background-container .circle-2 {
  position: absolute;
  width: 82px;
  height: 82px;
  rotate: 0deg;
  margin-left: 800px;
  margin-top: 50px;
}

.about-me-container {
  position: relative;
  width: 1440px;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  color: #5988FF;
  font-family: Montserrat;
}

@media (max-width: 1440px) {
  .about-me-container {
    width: 100vw;
  }
}

.about-me-container .container-left,
.about-me-container .container-right {
  flex: 1;
}

.container-left {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Baloo;
  font-size: 121px;
  font-weight: 400;
  line-height: 121px;
  letter-spacing: 0.01em;
  text-align: left;
}

.i-am-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.i-am-container span:first-child {
  font-family: Baloo;
  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.01em;
  text-align: center;
}

.i-am-container .icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.i-am-container .icon-container .location-container, .i-am-container .icon-container .remote-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.i-am-container .icon-container .location-icon {
  width: 32.5px;
  height: 40px;
}

.i-am-container .icon-container .remote-icon {
  width: 53.58px;
  height: 46.99px;
}
