<div class="global-background-container background-container">
    <img class="circle-1" src="assets/img/background/ellipse.svg">
    <img class="circle-2" src="assets/img/background/ellipse.svg">
    <div id="aboutMe" class="global-main-container about-me-container"> 
        <div class="container-left">
            <div class="title">
                Let's work<br>together
            </div>
            <div class="i-am-container">
                <span>I am</span>
                <div class="icon-container">
                    <div class="location-container">
                        <img class="location-icon" [src]="imgSrcLocation" (mouseover)="imgSrcLocation = 'assets/img/icons/location-icon-2.png'" (mouseout)="imgSrcLocation = 'assets/img/icons/location-icon-1.png'">
                        <span>located in<br>Winterthur</span>
                    </div>
                    <div class="remote-container">
                        <img class="remote-icon" [src]="imgSrcRemote" (mouseover)="imgSrcRemote = 'assets/img/icons/remote-icon-2.png'" (mouseout)="imgSrcRemote = 'assets/img/icons/remote-icon-1.png'">
                        <span>open to work<br>remote</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-right">
            <p>I am a Front-end developer based in Winterthur, Switzerland near Zurich.</p>
            <div>
                <button>Send a message</button>
            </div>
        </div>
    </div>
</div>