.global-background-container {
    height: 100vh;
    min-height: 726px;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    position: relative;

    .circle {
        width: 50%;
        position: absolute;
        top: -25%;
        left: -4%;
        z-index: 1;

        @media (min-width: 1000px) and (max-width: 1300px) {
            width: 400px;
            top: -200px;
            left: -80px;
        }
    }
}

.landing-page-container {
    position: relative;
    padding-bottom: unset;
    padding-top: 117px;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    min-height: 726px;

    .profile-picture-container,
    .right-container {
        flex: 1;
    }
}

.profile-picture {
    max-width: 100%;
    max-height: 90vh;
    aspect-ratio: 583.58 / 860.39;
    vertical-align: bottom;

    @media (min-width: 1000px) and (max-width: 1299px) {
        min-height: unset;
    }
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    color: #5988FF;
}

.greeting {
    p {
        margin: 0;
    }

    :first-child {
        font-family: Montserrat;
        font-size: 50px;
        font-weight: 400;
        line-height: 54px;
        text-align: left;

        @media (min-width: 1300px) and (max-width: 1440px) {
            font-size: 40px;
        }

        @media (min-width: 1000px) and (max-width: 1299px) {
            font-size: 30px;
        }
    }

    :nth-child(2) {
        margin-top: 17px;
        margin-bottom: 0;
        font-family: Baloo;
        font-size: 90px;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: -0.025em;
        text-align: left;
        @media (min-width: 1300px) and (max-width: 1440px) {
            font-size: 86px;
        }
        @media (min-width: 1000px) and (max-width: 1299px) {
            font-size: 60px;
            line-height: 70px;
        }
    }
}

.bottom-container {
    display: flex;
    height: 100%;
    max-height: 500px;
    padding-top: 50px;
    box-sizing: border-box;
    @media (min-width: 1000px) and (max-width: 1299px) {
        max-height: 300px;
    }
}

.scroll-container {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    :first-child {
        a {
            text-decoration: none;
            color:#5988FF;
        }
    }

    :nth-child(2) {
        height: 100%;
        width: 2px;
        margin-top: 8px;
        background-color: #5988FF;
    }

}

.icon-container-wrapper {
    display: flex;
    align-items: center;

    .icon-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 170px;

        img {
            transition: all 200ms linear;
            transform: translateX(0px);
            width: 30px;
            height: 30px;

            &:hover {
                transition: all 200ms linear;
                transform: translateX(-10px);
            }
        }
    }
}