<div class="global-background-container background-container">
    <img class="circle" src="assets/img/background/ellipse.svg">
    <div id="landingPage" class="global-main-container landing-page-container">
        <app-header></app-header>
        <div class="profile-picture-container">
            <img class="profile-picture" src="assets/img/profile-picture/profile-picture.png">
        </div>
        <div class="right-container">
            <div class="greeting">
                <p>Hello! I am Pascale</p>
                <h1>FRONTEND<br>DEVELOPER</h1>
            </div>
            <div class="bottom-container">
                <div class="scroll-container">
                    <div><a href="#aboutMe">SCROLL</a></div>
                    <div></div>
                </div>
                <div class="icon-container-wrapper">
                    <div class="icon-container">
                        <a href="https://github.com/PascaleSennhauser" target="_blank"><img
                                src="assets/img/icons/github-icon.png"></a>
                        <a href="mailto:pascale.sennhauser@hotmail.ch" target="_blank"><img
                                src="assets/img/icons/mail-icon.png"></a>
                        <a href="#" target="_blank"><img src="assets/img/icons/linkedin-icon.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>