.global-background-container {
  height: 100vh;
  min-height: 726px;
  background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
  position: relative;
}

.global-background-container .circle {
  width: 50%;
  position: absolute;
  top: -25%;
  left: -4%;
  z-index: 1;
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .global-background-container .circle {
    width: 400px;
    top: -200px;
    left: -80px;
  }
}

.landing-page-container {
  position: relative;
  padding-bottom: unset;
  padding-top: 117px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  min-height: 726px;
  box-sizing: border-box;
}

.landing-page-container .profile-picture-container,
.landing-page-container .right-container {
  flex: 1;
}

.profile-picture-container {
  width: 100%;
  height: 100%;
  background-image: url("./../../../assets/img/profile-picture/profile-picture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  color: #5988FF;
}

.greeting p {
  margin: 0;
}

.greeting :first-child {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
}

@media (min-width: 1300px) and (max-width: 1440px) {
  .greeting :first-child {
    font-size: 40px;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .greeting :first-child {
    font-size: 30px;
  }
}

.greeting :nth-child(2) {
  margin-top: 17px;
  margin-bottom: 0;
  font-family: Baloo;
  font-size: 90px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: -0.025em;
  text-align: left;
}

@media (min-width: 1300px) and (max-width: 1440px) {
  .greeting :nth-child(2) {
    font-size: 86px;
  }
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .greeting :nth-child(2) {
    font-size: 60px;
    line-height: 70px;
  }
}

.bottom-container {
  display: flex;
  height: 100%;
  max-height: 500px;
  padding-top: 50px;
  box-sizing: border-box;
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .bottom-container {
    max-height: 300px;
  }
}

.scroll-container {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.scroll-container :first-child a {
  text-decoration: none;
  color: #5988FF;
}

.scroll-container :nth-child(2) {
  height: 100%;
  width: 2px;
  margin-top: 8px;
  background-color: #5988FF;
}

.icon-container-wrapper {
  display: flex;
  align-items: center;
}

.icon-container-wrapper .icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 170px;
}

.icon-container-wrapper .icon-container img {
  transition: all 125ms linear;
  transform: translateX(0px);
  width: 30px;
  height: 30px;
}

.icon-container-wrapper .icon-container img:hover {
  transition: all 125ms linear;
  transform: translateX(-10px);
}
