.global-background-container {
  height: 100vh;
  background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
}

.global-background-container .circle {
  width: 50%;
  position: absolute;
  top: -25%;
  left: -4%;
}

.landing-page-container {
  position: relative;
  padding-bottom: unset;
  padding-top: 117px;
  display: flex;
  align-items: flex-end;
}

.landing-page-container .profile-picture-container,
.landing-page-container .right-container {
  flex: 1;
}

.profile-picture {
  max-width: 100%;
  max-height: 90vh;
  vertical-align: bottom;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  color: #5988FF;
}

.greeting {
  font-weight: 400;
  line-height: 64px;
  text-align: left;
}

.greeting p {
  margin: 0;
}

.greeting :first-child {
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
}

.greeting :nth-child(2) {
  margin-top: 17px;
  font-family: Baloo;
  font-size: 110px;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: -0.025em;
  text-align: left;
}

.bottom-container {
  display: flex;
  height: 100%;
  max-height: 500px;
  padding-top: 50px;
  box-sizing: border-box;
}

.scroll-container {
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.scroll-container :first-child:hover {
  cursor: pointer;
}

.scroll-container :nth-child(2) {
  height: 100%;
  width: 2px;
  margin-top: 8px;
  background-color: #5988FF;
}

.icon-container-wrapper {
  display: flex;
  align-items: center;
}

.icon-container-wrapper .icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 170px;
}

.icon-container-wrapper .icon-container img {
  animation: translate-right 200ms linear;
  transform: translateX(0px);
  width: 30px;
  height: 30px;
}

.icon-container-wrapper .icon-container img:hover {
  animation: translate-left 200ms linear;
  transform: translateX(-10px);
}

@keyframes translate-left {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-10px);
  }
}

@keyframes translate-right {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0px);
  }
}
