<div class="background-container">
    <img class="circle" src="assets/img/background/ellipse.svg">
    <div class="landing-page-container">
        <app-header></app-header>
        <div class="profile-picture-container">
            <img class="profile-picture" src="assets/img/profile-picture/profile-picture.png">
        </div>
        <div class="right-container">
            <div class="greeting">
                <p>Hello! I am Pascale</p>
                <p>FRONTEND<br>DEVELOPER</p>
            </div>
            <div class="bottom-container">
                <div class="scroll-container">
                    <div>SCROLL</div>
                    <div></div>
                </div>
                <div class="icon-container-wrapper">
                    <div class="icon-container">
                        <img src="assets/img/icons/github-icon.png">
                        <img src="assets/img/icons/mail-icon.png">
                        <img src="assets/img/icons/linkedin-icon.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>