<div class="global-background-container background-container">
    <img class="circle-1" src="assets/img/background/ellipse.svg">
    <img class="circle-2" src="assets/img/background/ellipse.svg">
    <div id="landingPage" class="global-main-container landing-page-container">
        <app-header-mobile (activatedBurgerMenu)="openOverlay($event)"
            [showLogo]="!openOverlayMenu"></app-header-mobile>
        <div class="greeting">
            <p>{{ text[languageData.currentLanguage].greeting }}</p>
            <h1 [innerHTML]="text[languageData.currentLanguage].jobTitle"></h1>
        </div>
        <div class="profile-picture-container"></div>
        <div class="scroll-container">
            <a href="#aboutMe">Scroll down</a>
            <img src="assets/img/icons/arrow-down-line-icon.png">
        </div>
    </div>
    <app-menu-overlay-mobile (dontShowOverlay)="closeOverlay($event)"
        [showOverlay]="openOverlayMenu"></app-menu-overlay-mobile>
</div>