/* scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #9f8279;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(159, 130, 121, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9F8279;
}
