.show-mobile {
    display: none;
}

.show-desktop {
    display: unset;
}

@media (max-width: 1025px) {
    .show-desktop {
        display: none;
    }

    .show-mobile {
        display: unset;
    }
}