
@if ( project.name == 'Portfolio') {
    <a [routerLink]="[]" fragment="{{ isLandingPageMobile ? 'landingPageMobile' : 'landingPage' }}"><img [@imgEnter]="isInSight" class="img" src={{project.imgSrc}}></a>
} @else {
    <a href="{{ project.folderPath }}" target="_blank"><img  [@imgEnter]="isInSight" class="img" src={{project.imgSrc}}></a>
}
<div class="project-information-container" [ngStyle]="{'align-items': index % 2 == 0 ? 'start' : 'end'}">
    <h3>{{ project.name }}</h3>
    <div class="technology-container">
        @for (technology of project.usedTechnologies; let i = $index; track technology) {
        <span class="technologies">{{ technology }}</span>
        @if (i+1 < project.usedTechnologies.length) { <div class="separator">
    </div>
    }
    }
</div>
<p class="description" [ngStyle]="{'text-align': isBigScreen ? (index % 2 === 0 ? 'left' : 'right') : 'center'}">{{
    getDescription() }}</p>
<div class="button-container-wrapper">
    <div class="button-container">
        <a href={{project.linkGitHub}} target="_blank">Github</a>
    </div>
</div>
</div>