@import './../../../../styles.scss';

a,
.project-information-container {
    flex: 1;
}

a {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 300px;
}

h3 {
    font-family: Baloo;
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
    text-align: left;
    color: #5988FF;
    margin: 0;
}

.technology-container {
    display: flex;
    align-items: center;

    .technologies {
        font-family: Montserrat;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
        color: #5988FF;
    }

    div {
        width: 1px;
        height: 20px;
        background-color: #5988FF;
        margin-left: 8px;
        margin-right: 8px;
    }
}



.description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: black;
}

img {
    width: 90%;
    max-width: 410px;
    aspect-ratio: 1340 / 860;
    object-fit: fill;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-in-out;
    transform: scale(1);

    &:hover {
        cursor: pointer;
        transition: all 200ms ease-in-out;
        transform: scale(1.2);
    }
}

.project-information-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    margin-top: 10px;
    a {
        @include standard-button(137px, 58px);
        font-family: Montserrat;
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
        color:#5988FF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}