.imprint-min-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.imprint-container {
    position: relative;
    padding-top: 117px;
    padding-bottom: 80px;
    box-sizing: border-box;

    h1 {
        margin-top: 80px;
        margin-bottom: 0;
        font-family: Baloo;
        font-size: 80px;
        font-weight: 400;
        line-height: 108px;
        color: #5988FF;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 0;
        font-family: Baloo;
        font-size: 40px;
        font-weight: 100;
        line-height: 45px;
        color: #5988FF;
    }

    p {
        font-family: Montserrat;
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.circle-1 {
    position: absolute;
    width: 300px;
    margin-top: -150px;
    margin-right: 1100px;
}

.circle-2 {
    position: absolute;
    width: 100px;
    bottom: -50px;
    z-index: -1;
}

.circle-3 {
    position: absolute;
    width: 80px;
    margin-right: -1100px;
    margin-top: 400px;
}