.imprint-min-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.imprint-container {
  padding-top: 117px;
  padding-bottom: 80px;
  box-sizing: border-box;
  position: relative;
}

.imprint-container h1 {
  margin-top: 80px;
  margin-bottom: 0;
  font-family: Baloo;
  font-size: 60px;
  font-weight: 400;
  color: #5988FF;
}

@media (max-width: 1000px) {
  .imprint-container h1 {
    font-size: 24px;
  }
}

.imprint-container h2 {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Baloo;
  font-size: 30px;
  font-weight: 100;
  line-height: 45px;
  color: #5988FF;
}

@media (max-width: 1000px) {
  .imprint-container h2 {
    font-size: 18px;
    line-height: 20px;
  }
}

.imprint-container p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

@media (max-width: 1000px) {
  .imprint-container p {
    font-size: 16px;
    line-height: 18px;
  }
}

.imprint-container a {
  text-decoration: none;
  color: black;
}

.imprint-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.circle-1 {
  position: absolute;
  width: 350px;
  margin-top: -170px;
  margin-right: 1100px;
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .circle-1 {
    margin-right: 830px;
  }
}

@media (max-width: 1000px) {
  .circle-1 {
    margin-top: 0;
    margin-right: 0;
    top: -170px;
    left: -170px;
  }
}

.circle-2 {
  position: absolute;
  width: 100px;
  bottom: -50px;
  z-index: -1;
}

.circle-3 {
  position: absolute;
  width: 80px;
  margin-right: -1100px;
  margin-top: 400px;
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .circle-3 {
    margin-right: -800px;
  }
}

@media (max-width: 1000px) {
  .circle-3 {
    width: 20px;
    margin-right: 0;
    margin-top: 0;
    right: 40px;
    top: 400px;
  }
}
