body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: Baloo;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.01em;
}

@media (max-width: 1299px) {
  h2 {
    font-size: 56px;
    line-height: 60px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 44px;
  }
}

.global-background-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.global-main-container {
  width: 1440px;
  padding: 100px;
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .global-main-container {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .global-main-container {
    padding: 17px;
  }
}

@keyframes fly-from-left {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fly-from-right {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}
