.background-container {
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
}

.skill-set-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: left;
    color: white;
    margin: 0;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 104px;
    margin-top: 40px;

    @media (max-width: 1000px) {
        gap: 40px;
    }
}

.single-skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 86px;
    height: 150px;

    @media (max-width: 1000px) {
        height: 100px;
    }

    &:hover {
        gap: 21px;

        @media (max-width: 1000px) {
            gap: 10px;
        }

        span {
            font-weight: 700;
            line-height: 19.2px;

            @media (max-width: 1000px) {
                line-height: 16.8px;
                font-weight: unset;
            }
        }
    }

    img {
        width: 75px;

        @media (max-width: 1000px) {
            width: 55px;
        }
    }

    span {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: center;
        color: white;

        @media (max-width: 1000px) {
            font-size: 14px;
            line-height: 16.8px;
        }
    }

}