<footer class="global-background-container background-container">
    <div class="global-main-container footer-container">
        <div class="upper-container">
            <a (click)="goToLandingPage()" class="logo">&#60;ps&#62;</a>
            <div class="imprint-container">
                <span><span class="copyright-sign">©</span>Pascale Sennhauser 2024</span>
            </div>
            <div class="icon-container">
                <a href="https://github.com/PascaleSennhauser" target="_blank"><img src="assets/img/icons/github-icon-white.png"></a>
                <a href="mailto:pascale.sennhauser@hotmail.ch" target="_blank"><img src="assets/img/icons/mail-icon-white.png"></a>
            </div>
        </div>
        <a (click)="goToImprint()" class="imprint">{{ text[languageData.currentLanguage].imprint }}</a>
    </div>
</footer>